@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-back-ground text-gray-950
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.yoopta-heading-one {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  line-height: 1.75rem !important;
  margin-top: 1rem !important;
}

.yoopta-heading-two {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
  margin-top: 0.75rem !important;
}

.yoopta-heading-three {
  font-size: 1rem !important;
  font-weight: 600 !important;
  letter-spacing: -.025em !important;
  line-height: 1.25rem !important;
  margin-bottom: .25rem !important;
  margin-top: .5rem !important;
  scroll-margin: 5rem !important;
}
